.footer__column-links {
    color: white;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 16px;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    margin-top: 0px;
  }